@use "sass:meta";
@use "reset.scss";
@use "styles/_colors";
@use "styles/_media";
@use "fonts/fonts.scss";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  background-color: #f7f3ea;
  background-color: #fafafa;
}

// .josefin-sans-<uniquifier> {
//   font-family: "Josefin Sans", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Gilroy";
//   src: url("./fonts/Gilroy-SemiBold.woff");
//   font-weight: 600;
//   font-style: normal;
// }

//Fonts
//$fontMain: "Gilroy", sans-serif;

.container {
  max-width: (media.$containerWidth + media.$containerPadding) + px;
  margin: 0 auto;
  padding: 0 media.$containerSidePadding + px;
  //font-family: $fontMain;
  overflow: hidden;


  @media (max-width: media.$breakpoint480) {
    padding: 5px;
  }
}

.wrapper {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.section__wrapper {
  padding-left: 80px;
  padding-right: 80px;

  @media (max-width: media.$breakpoint768) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (max-width: media.$breakpoint480) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.btn {
  padding: 15px 22px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.01em;
  display: inline-block;
}

.hidden {
  display: none !important;
}

.responsive__img {
  max-width: 800px;
  width: 100%;
  height: auto;
}

@include meta.load-css("styles/bloks/nav/hamburger-nav.scss");
@include meta.load-css("styles/bloks/nav/nav.scss");
@include meta.load-css("styles/bloks/hero/hero.scss");
@include meta.load-css("styles/bloks/header/header.scss");
@include meta.load-css("styles/bloks/footer/footer.scss");
@include meta.load-css("styles/elements/slider/slider.scss");
@include meta.load-css("styles/bloks/visualMaterials/visualMaterials.scss");
@include meta.load-css("styles/bloks/mainArticle/mainArticle.scss");