.about {
    display: flex;
    flex-direction: column;
}

.about__item {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 40px;
}

.about__item:nth-child(2) {
    flex-direction: row-reverse;
}

.about__title {
    font-size: 24px;
    text-transform: capitalize;
    // margin-right: 20px;
    // display: block;
}

.about__item-divider {
    border-right: 1px solid black;
    margin: 0 10px;
}

.about__content {
    display: block;

    .about__text {}
}